<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="#">Alcohol store</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" <a href="/api/usuarios/login">Formulario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" <a href="/api/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/productos/random">Productos random</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/usuarios/info">Datos de sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/chat">Chat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>